<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <%- include partials/_header.ejs %>
    <h1>
    ShortURL: <a href="/u/<%= shortURL %>"> <%= shortURL %> </a>
    </h1>
    <form action="/urls/<%= shortURL %>?_method=PUT" method="POST">
        <label for="longURL">Update to a new URL:</label>
        <input id="longURL" type="text" name="longURL" placeholder="http://">
        <p>Current longURL: http://<%= longURL %></p>
        <p>Number of visits today: <%= visits %></p>
        <input type="submit" value="Submit">
    </form>
    <br>
    <br>
    <a href='/urls'>Back to URLS</a>
  </body>
</html>